.Record-Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  border-bottom: solid 1px #333843;
  border-image: linear-gradient(to right, #333843 50%, transparent 50%) 100% 1;
}

.Mounts-Label {
  display: flex;
  font-size: large;
  margin-left: 10px;
  margin-top: 21px; 
}

.Prize-Cabinet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Trophy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Event-Name {
  display: flex;
  font-size: medium;
}

.Trophy-Value {
  display: flex;
  font-size: x-large;
}
