.Container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

.Card-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  overflow-y: auto;
}

.Create-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 185px;
  border-radius: 5px;
  border: 1px solid #333843;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 359px;
}

.Create-Card:hover {
  cursor: pointer;
  background-color: #0e1016;
}

.Card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 260px;
  border-radius: 5px;
  border: 1px solid #333843;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 359px;
}

.List-Card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Image-Flag {
  display: flex;
}

.Profile-Image {
  height: 150px;
  border-radius: 50%;
  border: 1px solid #787c84;
  margin-left: 10px;
}

.Flag {
  display: flex;
  margin-left: -40px;
  padding-top: 110px;
  width: 40px;
}

.Details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.Actions-Row {
  display: flex;
  flex-direction: row;
}

.Icon {
  display: flex;
  color: white;
}

.Rider-Name {
  display: flex;
  font-size: x-large;
  margin-bottom: 10px;
  margin-right: 10px;
}

.Age-Sex {
  display: flex;
  margin-right: 10px;
}

.Rider-Age {
  display: flex;
  margin-right: 20px;
  font-size: medium;
}

.Rider-Sex {
  display: flex;
  font-size: medium;
}

.Record {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: -25px;
  margin-right: 10px;
}
